img {
    width: 308px;
}

body{
    background-color: #439A97;
}

h3{
    color: aliceblue;
}

h1{
    color: aliceblue;
}

h2{
    color: aliceblue;
}

ul{
    color: aliceblue;
}

p{
    color: aliceblue;
}